/**
 * = Typography
 */

h1,h2,h3,h4,h5,h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-family-headers;
	font-weight: $heading-font-weight;
}

p, ol li, ul li, .p {
	font-family: $font-family-base;
	font-size: $paragraph-font-size;
	font-weight: $paragraph-font-weight;
	line-height: $paragraph-line-height;
}

a, .text-action {
	color: $link-color;
	transition: $transition-base;
	&:hover{
		color: $link-hover-color;
		cursor: pointer;
	}
}

.lead {
	+ .btn-wrapper {
		margin-top: 3rem;
	}
	@include media-breakpoint-down(md){
		font-size: $font-size-base;
	}
}

.line-through{
	-webkit-text-decoration: line-through;
    text-decoration: line-through;
}

.text-italic{
	font-style: italic !important;
}

.description {
	font-size: $font-size-sm;
}

// Headings

.heading {
	letter-spacing: $heading-letter-spacing;
	font-size: $h2-font-size;
	text-transform: $heading-text-transform;
	font-weight: $font-weight-bold;
}

.heading-title {
	letter-spacing: $heading-title-letter-spacing;
	font-size: $heading-title-font-size;
	font-weight: $heading-title-font-weight;
	text-transform: $heading-title-text-transform;
}

.heading-section {
	letter-spacing: $heading-section-letter-spacing;
	font-size: $heading-section-font-size;
	font-weight: $heading-section-font-weight;
	text-transform: $heading-section-text-transform;

	img {
		display: block;
		width: 72px;
		height: 72px;
		margin-bottom: 1.5rem;
	}

	&.text-center {
		img {
			margin-left: auto;
			margin-right: auto;
		}
	}
}


@include media-breakpoint-down(md){
	.display-2{
	  font-size: $display4-size;
	}
}

@include media-breakpoint-down(lg){
	.display-3{
	  font-size: $display4-size;

	}
}
  
@include media-breakpoint-down(sm){
	.display-4{
		font-size: $h4-font-size;
	}
}

// Blockquotes
.blockquote {
	font-style: italic;
	&.blockquote-large{
		font-size: $blockquote-font-size-lg;

		@include media-breakpoint-down(md) {
			font-size: $font-size-lg;
		}
	}
 	.blockquote-footer{
		font-size: $font-size-sm;
		font-weight: $font-weight-bolder;

		@include media-breakpoint-down(md) {
			font-size: $font-size-lg;
		}
	}
}

// Font Sizes

.font-small {
  @include font-size($font-size-sm);
  font-weight: $font-weight-light;
}

.font-base{
	@include font-size($font-size-base);
	font-weight: $font-weight-light;
}

.font-medium {
	@include font-size($font-size-lg);
	font-weight: $font-weight-light;
}

.font-large{
	@include font-size($display-large-text);
}

//PrismJs text	

code[class*="language-"], pre[class*="language-"]{
	text-shadow: none;
	font-family: $font-family-base;
	font-weight: $font-weight-bold;
}

// Set color of theme buttons
@each $color, $value in $theme-colors {
	.text-#{$color} {
        &, &:hover {
			color: $value !important;
		}

		a:not(.btn),h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,.display-1, .display-2, .display-3, .display-4{
			color: $value;
		  }
		  .text-muted{
			color: rgba($value,.7) !important;
		  }
    }
}


article {
	img {
		margin: 40px 0;
	}
	p, ul, ol, blockquote {
		margin-bottom: 2rem;
	}
	p, ul li, ol li {
		font-size: 1.2rem;
	}
	ul li, ol li {
		margin-bottom: 1rem;
	}
	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		margin-bottom: 30px;
	}
}

.folder-structure li {
	font-size: 1.2rem;
}